.title {
    color: white;
    margin-bottom: 0;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p {
    font-size: medium;
    text-align: center;
}