html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 2rem 20px;
  margin: 0 auto;
  width: 100vw;
  background-color: #08AEEA;
  background-image: linear-gradient(315deg, #08AEEA 0%, #2AF598 88%);



}

hr {
  width: 100%;
}
