html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 2rem 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100vw;
  background-color: #00ad00;
  background-image: url('../images/pets.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  width: 100%;
}
